@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.box {
transition: transform 0.05s ease-out, opacity 0.05s ease-out, background 0.05s ease-out;

  width: 8rem;
  height: 8rem;
  background: #000066;
  padding: 20px;
  margin: 1px;
  opacity: 0.15;
  border-radius: 12.5;
}

.box.active {
  opacity: 1 !important;
  background-color: white !important;
  transform: scale(1.0);
}

/* Default background color for your top section */
.bg-game {
  background-color: #2b87d1;
  transition: background-color 0.25s ease;
}

@keyframes flash-white {
  0% {
    background-color: #2b87d1;
  }
  50% {
    background-color: #7eb1da;
  }
  100% {
    background-color: #2b87d1;
  }
}

.flash-white {
  animation: flash-white 0.6s ease;
}

@keyframes flash-red {
  0% {
    background-color: #2b87d1;
  }
  50% {
    background-color: #ff4d4d;
  }
  100% {
    background-color: #2b87d1;
  }
}

.flash-red {
  animation: flash-red 0.6s ease;
}
